    <!--secccion--->
    <div class="seccion-1">
        <div class="contenedor"> 
            <div class="contenedor_titulo">
               <h1>Los mejores en seguridad de transportes pesados</h1>
            </div>
            <div class="contenedor_descripcion">
                <p>
                    Estid AutoCarpados es mucho mas que una simple empresa de seguridad para trasnsportes de carga pesada. Es la solucion mas efectiva para mejorar tiempos de carga, ademas de situciones peligrosas que arrieguen la vida de el trabajador.
                </p>
            </div>
            <div class="contenedor_boton">
                <button type="submit" >
                    
                    <h4 routerLink="productos">
                        Conseguir Productos
                        <i class="bi bi-arrow-right mx-3"></i> 
                    </h4>
                </button>
            </div>
        </div>              
    </div>
