    <!--secccion--->
    <div class="seccion-1">
        <div class="contenedor"> 
            <div class="contenedor_titulo">
               <h1>Los mejores en distribucion de articulos</h1>
            </div>
            <div class="contenedor_descripcion">
                <p>
                    
                </p>
            </div>
            <div class="contenedor_boton mb-5">
                <button type="submit" >
                    <h4>
                        Conseguir Productos
                        <i class="bi bi-arrow-right mx-3"></i> 
                    </h4>
                </button>
            </div>
        </div>              
    </div>